''' List : is a collection of mutable python objects
----------------------------
In-built functions:
------------------------------
Length
Concatenation
Repetion``
Membership
Iteration

-------------------------------
Other Built-In functions:
-------------------------------
append
extend
pop
count
min
max
sort
replace
split
insert
del
join
reverse
cmp
list(seq)
enumerate
find

----------------------------------------'''

In [0]:
# REPRESENTATION AND BUILT-IN FUNCTIONS
l1=list()

l1=[]

l1=[1,2,3,4,5,6,'python']

print(type(l1))

l1=[1,2,'a','b',2.555,'python',6]

l1.index('python') 

l1.index(6)

In [0]:
# LENGTH

l1=[99,74,'python']

l2 = [5,4,]

a=5

l1 + a  # will throw error concatenation possible between two lists


l1 +l2  # will work

In [0]:
# 3. Repetion

l3=[1,2]

l3*2

a= 'python'

a*2

In [0]:
#4. Member ship

l1=[1,2,5,8,7,4,9,'a','z']

4 in l1

'a' in l1

In [0]:
# 5. Iteration

l1=[1,2,3,4,5]

for i in l1:
     print(i)

# 5.1 Eg.

for i in l1:
     print(l1.index(i), i)

In [0]:
# OTHER BUILT-IN FUNCTIONS

l1=[1,2,3,4,5,'a','b']

l2=[88,55,66]

a = 125

b = 'Course'

l1.append(100)

l1.append(l2)

print("Updated List 1 : {}"format(l1))

l1.extend([55,74])
l1.extend(l2)

print("Updated List 2 : {}"format(l1))

In [0]:
l1=[1,2,3,4,5,'a','b']

l1.pop()  

print(l1.count(4))

a='apple'
a.replace('p','#')

print("a value:",a)

l1.reverse()

l1.remove(4)

print("updated list :",l1)

# SPLIT & LIST SEQUENCE & JOIN

In [0]:
a='python'

print(list(a))

print('-'.join(a))  # spliting the string by '-'

b='High level language'

c=b.split(' ')   # converting to list

print(' '.join(c))     # converting back list to string

In [0]:
sentence = "Python is an interpreter lanuguage"

sentence.split(' ')  # will seperate as list

sentence.split(' ',0) # will seperate as list with single python object
sentence.split(' ',4) # will seperate as list with four python object

sentence.split(' ',5)[1]  # seperating as 5 py objects and picking up 1st element
sentence.split(' ',5)[3]  # seperating as 5 py objects and picking up 3rd element
sentence.split(' ',5)[1:]  # seperating as 5 py objects and slicing up from 1st element

NESTED LIST

In [0]:
l1=[1,2,3,4,5,7,8,'abc']

l2 = [10,20,30]

l1.append([100,90,80])

l1.append(l2)

print("Updated l1-1 list is: ",l1)

# output : [1, 2, 3, 4, 5, 7, 8, 'abc', [100, 90, 80], [10, 20, 30]]

for i in enumerate(l1):
     print(i)

l1[8].append(555)  # appending the value into nested list (i.e[100,90,80]) of l1
l1[9].extend([5,85,'a'])

print("Updated l1-2 list is: ",l1)

**find and rfind**

find : will start the index from to till the end and if it met the 'str' which we're
issuing in the mid, it'll print that index value.
rfind : it will start from reverse order and The rfind() method returns the highest index of the substring (if found).
if not found, it returns -1.

In [0]:
a= 'Python is an interpreter language and it is an elite language for best applications'

a.find('is') # not mentioning any starting or ending index values, will begin from initial.

a.find('is',0,30) # mentioning the starting and ending index values

a.find('is',30,0) # will not work. reversing isn't possible

a.rfind('is') # finding the highest index of substring (from reverse search will happen)

STRING SLICING

In [0]:
a='Mathematics'

a[0]
a[5]
a[-1]
a[-3]
a[0:2]

a[1:5]
a[0:]
a[:11]

a[::-1]    # Reversing the string

a[-1:-4]   # Reversing is not possible in slicing(will print empty list)

a[-1:3]   # Reversing is not possible in slicing(will print empty list)

a[3:-3]  # This will be possible because this action is happening towards the positive way

a[-3:-2]  # This will be possible because this action is happening towards the positive way

a[:-4]

a[-1:]

a[:]

a[::]   # will print complete string

a[:len(a)]

a[len(a)-2:len(a)]

# Interval

l1=[1,2,4,5,8,9,8,5]

l1[0:6:1]

l1[0:5:2]

l1[0:5:-1]

l1[5:0:-1]