''' Tuple : is a collection of Immutable python objects
----------------------------
In-built functions:
------------------------------
Length
Concatenation
Repetion
Membership
Iteration

-------------------------------
Other Built-In functions:
-------------------------------
tup(seq)
count
index
del

In [0]:
# REPRESENTATION AND BUILT-IN FUNCTIONS
t1=tuple()

t1=()

t1=(1,2,3,4,5,6,'python')

t2 = 5,2,8,'xyz'

t3= 3, # way of another tuple repr.

print(type(t1))

In [0]:
# CONCATENATION

t2=(99,74,'python')

a=5

t1 + a  # will throw error concatenation possible between two lists


t1 +t2  # will work

In [0]:
# DELETION

del t1

del t1[2]   # check it

del t1[len(t1)-2]   # check it

#     LIST AND TUPLE SEQUENCE

In [0]:
t2=(1,2,4,5,8,7)

list(t2)   # convert tuple into list(tuple sequence)


l1=[1,2,4,7,8,9,(4,8,'a')]

tuple(l1)